.body {
    width: 100vw;
    font-family: 'Roboto', sans-serif;
    background-color: #f0f0f5;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
}
h1 {
    color: #444444;
    font-size: 2.5em;
}
.box {
    width: 90%;
    border-radius: 10px;
    padding: 20px;
    padding-top: 0px;
    padding-bottom: 0px;
    border: 2px solid #bcbcbc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: #333;
    background-color: #fefefe;
    justify-content: center;
    font-weight: bold;
}
input[type="file"] {
    border: 2px solid #ddd;
    border-radius: 5px;
    padding: 6px;
    margin: 10px 0;
}
button {
    background-color: #616161;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}
button:hover {
    background-color: #616161;
    font-weight: bold;
}
.form-box {
    justify-content: center;
    font-weight: bold;
}
#preview {
    max-width: 100%;
    max-height: 400px;
    display: none;
}
.image-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
}
.warning-box {
    width: 90%;
    border-radius: 10px;
    padding: 20px;
    padding-top: 0px;
    padding-bottom: 0px;
    border: 2px solid #ffdd99;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: #856404;
    background-color: #fff3cd;
    justify-content: center;
    font-weight: bold;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    width: 210%
}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown-content button {
    border: solid 1px black;
    background: none;
    color: black;
    text-align: justify;
    cursor: pointer;
    width: 100%;
    display: inline-block;
}
.dropdown-content button:hover {
    background-color: #f1f1f1;
}