<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image To Text Tool</title>
    <!-- Liên kết file CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body class="body">
    <div class="box">
        <form action="/upload" method="post" enctype="multipart/form-data" class="form" align="center">
            <label for="imageUpload1" style="font-weight: bold;">Upload an image:</label>
            <input type="file" id="imageUpload1" name="image" accept="image/*" onchange="previewImage(event)">
            <button type="submit" class="small-box">Submit</button>
        </form>
        <img id="preview" alt="Image Preview">
    </div>
    <br>
    {% if warning %}
        <div class="box" style="padding-top: 10px; padding-bottom: 10px;" id="notification-box">
            <p>{{ warning }}</p>
        </div>
    {% endif %}
    {% if content %}
        <div class="box" style="padding-top: 10px; padding-bottom: 10px;" id="result-box">
            <p>{{ content }}</p>
        </div>
    {% endif %}
    <!-- Liên kết file JavaScript -->
    <script src="{{ url_for('static', filename='scripts.js') }}"></script>      
</body>
</html>